<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MessageBoard</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>login_success.jsp</welcome-file>
    <welcome-file>message.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageListServlet</servlet-name>
    <servlet-class>servlet.MessageListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessagePageServlet</servlet-name>
    <servlet-class>servlet.MessagePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/servlet/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageListServlet</servlet-name>
    <url-pattern>/servlet/MessageListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagePageServlet</servlet-name>
    <url-pattern>/servlet/MessagePageServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>util.LoginFilter</filter-class>
    <init-param>
      <param-name>noLoginPaths</param-name>
      <param-value>login.jsp;RegisterServlet;register.jsp;ImageServlet;LoginServlet;register_success.jsp;register_failure.jsp;MessageServlet;MessageListServlet;MessagePageServlet</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>